.modal, .edit-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.msg {
 color: #721c24;
 padding-bottom: inherit;
}

.modal-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8d7da;
  padding: 7px 10px;
  text-align: center;
  width: 21rem;
  border-radius: 0.5rem;
}
.close-button, .close-image {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(184, 50, 50);
}
.close-button:hover {
  background-color: darkgray;
}

.btn-yes {
  background-color: #721c24;
}

.btn-no {
  background-color: blue;
}

.show-modal {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
